@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: oklch(0.141 0.005 285.823);
    --color-foreground: oklch(0.985 0 0);
    --color-card: oklch(0.21 0.006 285.885);
    --color-card-foreground: oklch(0.985 0 0);
    --color-popover: oklch(0.21 0.006 285.885);
    --color-popover-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.795 0.184 86.047);
    --color-primary-foreground: oklch(0.421 0.095 57.708);
    --color-secondary: oklch(0.274 0.006 286.033);
    --color-secondary-foreground: oklch(0.985 0 0);
    --color-muted: oklch(0.274 0.006 286.033);
    --color-muted-foreground: oklch(0.705 0.015 286.067);
    --color-accent: oklch(0.274 0.006 286.033);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-destructive: oklch(0.704 0.191 22.216);
    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.421 0.095 57.708);
    --color-chart-1: oklch(0.905 0.182 98.111);
    --color-chart-2: oklch(0.795 0.184 86.047);
    --color-chart-3: oklch(0.681 0.162 75.834);
    --color-chart-4: oklch(0.554 0.135 66.442);
    --color-chart-5: oklch(0.476 0.114 61.907);
    --color-sidebar: oklch(0.21 0.006 285.885);
    --color-sidebar-foreground: oklch(0.985 0 0);
    --color-sidebar-primary: oklch(0.795 0.184 86.047);
    --color-sidebar-primary-foreground: oklch(0.987 0.026 102.212);
    --color-sidebar-accent: oklch(0.274 0.006 286.033);
    --color-sidebar-accent-foreground: oklch(0.985 0 0);
    --color-sidebar-border: oklch(1 0 0 / 10%);
    --color-sidebar-ring: oklch(0.421 0.095 57.708);
}
